

.container {
	font-family: Impact;
	padding: 4em;
	display: flex;
	flex-direction: column;
	
	.output-wave {
		width: 400px;
	}

	.settings {
		position: absolute;
		top: 4px;
		left: 4px;
		width: 1.5em;
		height: 1.5em;
		cursor: pointer;
	}

	.loops {
		display: flex;

		.loop {
			border-radius: 50%;
			width: 1.5em;
			height: 1.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: grey;
		}
	}

	.bpm {
		margin-top: 1em;
	}
	
}

