.turn-on {
	cursor: pointer;
	font-weight: 700;
	&.on {
		visibility: hidden;
	}
	&:not(.on) {
		background-color: greenyellow;
	}
	
	padding: 0.3em;
}

.record-button-container {
	display: flex;
}

.container {
	display: flex;
}


.loops {
	display: flex;
	flex-direction: column;
	padding: 6.2em 0 0 1em;

	.loop {
		cursor: pointer;
		border-radius: 2px;
		height: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: lightcoral;
		margin: 0.2em;

		&.disabled {
			filter: brightness(60%);
		}

		&:hover {
			filter: brightness(110%);
		}
	}
}

.left-column {
	font-family: Roboto;
	padding: 4em 2em 0 4em;
	
	.output-wave {
		width: 400px;
	}

	.settings {
		position: absolute;
		top: 4px;
		left: 4px;
		width: 1.5em;
		height: 1.5em;
		cursor: pointer;
	}
	.bpm {
		margin-left: 1em;
	}
}

