.container {
    padding: 10px 0 10px 0;


    .effects {
        display: flex;
        flex-grow: 2;
    }

    .effect {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        width: 129.44px;
        height: 80px;
        background-color: #add8e6;
        border-radius: 10px;
        &:not(:last-child) {
            margin-right: 15px;
        }
        .title {
            align-self: flex-end;
        }
    }
}